{{!-- main container --}}
<div id="text-container" class="container">

    {{!-- header --}}
    <div class="row mt-3 ml-auto mr-auto text-center">
        <div class="col-sm-12">
            <h1 id="text-title" class="display-3 font-weight-bold"> - One Day - </h1>
            <h2 id="text-subtitle" class="font-weight-bold">a bucket-list manager</h2> 
        </div>
    </div>

    {{!-- form to enter the things the user wishes to do --}}
    <div class="row mt-3 ml-auto mr-auto">
        <div class="col-sm-12">
             <form id="add-new-thing">
                <div class="form-group mb-1">
                    <label id="label" for="thing">Before I die, I want to...</label>
                    <input type="text" class="form-control" id="thing" required>
                </div>
                <button id="add-btn" type="submit" class="btn btn-lg float-right mr-2 pt-0 pb-0">Add it!</button>
            </form>
        </div>
    </div>

    {{!-- card for the things that haven't been done yet --}}
    <div class="row mt-4 ml-auto mr-auto">
        <div class="col-sm-12">
            <div class="card">
                <div id="head-survey" class="card-header">What I will do</div>
                <div id="things-to-do" class="card-body">
                    <ul class="list-group">
                        {{#each Things}}
                            {{#unless done}}
                                {{> things/thing-block notDone=true}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div> 
        </div>
    </div>

    {{!-- card for the things that have been done --}}
    <div class="row mt-4 mb-4 ml-auto mr-auto">
        <div class="col-sm-12">
            <div class="card">
                <div id="head-survey" class="card-header">What I have done</div>
                <div id="things-to-do" class="card-body">
                    <ul class="list-group">
                        {{#each Things}}
                            {{#if done}}
                                {{> things/thing-block notDone=false}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>

{{!-- footer --}}
<div id="footer">
    <div class="row text-center mx-auto">
        <div class="col-sm-12">
            <p class="mb-1 mt-4"><a href="https://github.com/SophM/One-Day" target="_blank" class="pl-2 text-white font-weight-bold">GitHub Repo Link</a></p
        </div> 
    </div>
</div>